@model IEnumerable<string>
    @{
        Layout = null;
    }
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <style>
            a {
                color: transparent;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                display: inline-block;
                width: 180px;
                height: 120px;
            }
        </style>
    </head>
    <body>
        <div>
            @foreach (var imagePath in Model)
            {
                var id = System.IO.Path.GetFileNameWithoutExtension(imagePath);
                var url = Url.Action("photo", new { id });
                <a href="@url" style="background-image:url(@url)">
                    @id
                </a>
            }
        </div>
    </body>
</html>
